        html * {
            color:rgb(25, 107, 90);
            font-family: "Tahoma", sans-serif;
        }
        body {
            background-color: rgb(218, 255, 255);
            }
        img {

            border-width: 2px;
            border-color: rgb(25, 107, 90);
        }
        hr {
            border-color: rgb(25, 107, 90);
        }
        
        h1 {
            color: white;
        }
        .heading1 {
            background-image: linear-gradient(to right, rgb(25, 107, 90), rgba(25, 107, 90, 0));
        }