        html * {
            color:rgb(25, 107, 90);
            font-family: "Tahoma", sans-serif;
        }
        body {
            /*background-color: rgb(218, 255, 255);*/
            background-color: rgb(188, 177, 209);
            }
        img {

            border-width: 2px;
            border-color: rgb(25, 107, 90);
        }
        hr {
            border-color: rgb(25, 107, 90);
        }